/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

@page {
  size: auto;
  /* auto is the initial value */
  /* this affects the margin in the printer settings */
  margin: 5mm; }

* {
  box-sizing: border-box; }

body {
  background: white;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 100%;
  line-height: 1.25;
  margin: 0; }

/* common styles */
.objpage-wrap {
  max-width: 900px;
  margin: 0 auto; }
  .objpage-wrap:after {
    content: "";
    display: table;
    clear: both; }

.objpage-line:after {
  content: "";
  display: table;
  clear: both; }

.objpage-object-cart .item-title,
.objpage-object-cart .item-price {
  display: inline-block;
  vertical-align: middle; }

.objpage-object-cart .item-title {
  font-size: 16pt;
  font-weight: 600;
  line-height: 1.4;
  color: #fe0000;
  width: 68%; }
  .objpage-object-cart .item-title .item-location {
    font-size: 12pt;
    color: #14347f;
    margin-top: 1em;
    display: inline-block;
    font-weight: 700; }
    .objpage-object-cart .item-title .item-location img {
      width: .5em;
      margin-top: -3px;
      margin-right: 0.15em; }

.objpage-object-cart_fl {
  margin-bottom: .75em; }

.objpage-object-cart .item-price {
  width: 31%;
  margin: 0 -2px;
  vertical-align: top;
  display: inline-block;
  text-align: right; }
  .objpage-object-cart .item-price .span {
    margin-left: 17%;
    display: block;
    background: #f5f5f5;
    padding: .75em .6em;
    border-radius: 12px 0 0 12px;
    font-size: 17pt;
    font-weight: 600;
    color: #374055; }
