/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

* {
  box-sizing: border-box; }

body {
  background: white;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 100%;
  line-height: 1.25;
  margin: 0; }

.h-table {
  display: table;
  width: 100%; }
  .h-table-row {
    display: table-row;
    width: 100%; }
  .h-table-cell {
    display: table-cell;
    vertical-align: top; }

.h-wrap {
  max-width: 900px;
  margin: 0 auto; }
  .h-wrap:after {
    content: "";
    display: table;
    clear: both; }

.h-line:after {
  content: "";
  display: table;
  clear: both; }

.headline {
  margin-bottom: 2.5em; }
  .headline .h-line {
    display: table;
    width: 100%; }
    .headline .h-line > * {
      display: table-cell;
      vertical-align: middle; }
  .headline__contacts {
    color: #14347f;
    font-size: 10.5pt;
    width: 80%;
    padding-left: 2%; }
    .headline__contacts .is-transparent {
      opacity: 0; }
    .headline__contacts .img-icon {
      width: .95em;
      margin-right: .5em;
      vertical-align: middle; }
      .headline__contacts .img-icon.is-thin {
        width: 0.58em;
        margin-top: -3px; }
      .headline__contacts .img-icon.is-locat {
        width: 0.65em; }
    .headline__contacts .h-table-cell {
      padding: .25em 1em; }
  .headline__logo {
    width: 20%; }
    .headline__logo img {
      max-width: 90%; }

/* end headline */
