/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

@page {
  size: auto;
  /* auto is the initial value */
  /* this affects the margin in the printer settings */
  margin: 5mm; }

* {
  box-sizing: border-box; }

body {
  background: white;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 100%;
  line-height: 1.25;
  margin: 0; }

.body-wrap.headline-at-bottom,
.body-wrap.headline-at-bottom .wrap,
.body-wrap.headline-at-bottom .inner-content {
  height: 100%; }

.body-wrap.headline-at-bottom .inner-content .inner {
  overflow: hidden;
  max-height: 100%; }

.body-wrap.headline-at-bottom .headline {
  margin: 0; }
  .body-wrap.headline-at-bottom .headline .line > * {
    vertical-align: top; }
  .body-wrap.headline-at-bottom .headline .headline__contacts .table {
    margin-top: .5em; }

/* common styles */
.wrap {
  max-width: 900px;
  margin: 0 auto; }
  .wrap:after {
    content: "";
    display: table;
    clear: both; }

.line:after {
  content: "";
  display: table;
  clear: both; }

.table {
  display: table;
  width: 100%; }
  .table-row {
    display: table-row;
    width: 100%; }
  .table-cell {
    display: table-cell;
    vertical-align: top; }

.img-icon {
  vertical-align: middle; }
  .img-icon.is-transparent {
    opacity: 0; }

.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  line-height: 1; }
  .icon.icon-blank {
    background: transparent;
    width: 21px; }

/* end common styles */
/* text section */
.text-section {
  font-size: 10.5pt;
  margin-bottom: 3em;
  line-height: 1.45;
  font-weight: 200; }
  .text-section p {
    margin-bottom: 1em; }

/* end text section */
/* objects */
.object-list__item {
  margin-bottom: 2em; }
  .object-list__item > * {
    display: inline-block;
    margin: 0 -2px;
    vertical-align: top; }
  .object-list__item .item-image {
    width: 25%;
    height: 7.3em;
    overflow: hidden; }
    .object-list__item .item-image img {
      max-width: 90%; }
  .object-list__item .item-text {
    width: 75%; }
  .object-list__item .item-title {
    color: #fe0000;
    font-size: 10pt;
    line-height: 1.4;
    font-weight: 400;
    display: inline-block;
    width: 65%;
    vertical-align: top;
    height: 4.5em;
    margin-bottom: .2em;
    overflow: hidden; }
    .object-list__item .item-title > div {
      max-height: 2.5em;
      overflow: hidden; }
  .object-list__item .item-properties {
    max-width: 70%; }
  .object-list__item .item-price {
    width: 32%;
    margin: 0 -2px;
    vertical-align: top;
    display: inline-block;
    text-align: right; }
    .object-list__item .item-price .span {
      margin-left: 15%;
      display: block;
      background: #f5f5f5;
      padding: .65em .7em;
      border-radius: 12px 0 0 12px;
      font-size: 13.5pt;
      font-weight: 600;
      color: #374055; }
  .object-list__item .item-location {
    display: block;
    font-size: 9pt;
    color: #14347f;
    margin-top: .75em;
    font-weight: 700; }
    .object-list__item .item-location img {
      vertical-align: baseline;
      margin-right: .15em;
      width: .6em; }

.table.item-properties {
  font-size: 8.5pt;
  text-align: center;
  margin-top: .5em;
  width: auto;
  display: inline-block; }
  .table.item-properties > .table-row > .table-cell {
    border-right: 1px solid #ececec;
    padding: 0 .5em; }
    .table.item-properties > .table-row > .table-cell:last-child {
      border-right: none; }
    .table.item-properties > .table-row > .table-cell:first-child {
      padding-left: 0; }
    .table.item-properties > .table-row > .table-cell .table-row {
      display: inline-block; }
      .table.item-properties > .table-row > .table-cell .table-row:nth-child(1) {
        color: #888888;
        font-weight: 500; }
        .table.item-properties > .table-row > .table-cell .table-row:nth-child(1) .table-cell {
          padding-bottom: 3px; }
      .table.item-properties > .table-row > .table-cell .table-row:nth-child(2) {
        font-weight: bold; }
        .table.item-properties > .table-row > .table-cell .table-row:nth-child(2) .table-cell {
          padding-top: 3px; }
      .table.item-properties > .table-row > .table-cell .table-row .table-cell {
        display: inline-block; }

/* end objects */
.object-cart .item-properties {
  font-size: 10pt;
  max-width: 100%;
  display: table;
  margin-bottom: 1.5em; }
  .object-cart .item-properties > .table-row > .table-cell {
    padding: 0 .5em; }
    .object-cart .item-properties > .table-row > .table-cell .table-row .table-cell {
      display: inline-block;
      padding: .8em 0; }

.object-cart_list {
  font-size: 10pt;
  margin-bottom: 1.5em;
  font-weight: 500; }
  .object-cart_list li {
    display: inline-block;
    padding: .25em 0 .25em 1.1em;
    position: relative; }
    .object-cart_list li:before {
      content: '';
      display: block;
      height: 6px;
      width: 6px;
      color: #888;
      border: 1px solid;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
  .object-cart_list.is-3-col li {
    width: 33%; }
  .object-cart_list.is-2-col li {
    width: 50%;
    margin-right: -2px; }

.object-cart .item-main-image {
  margin-bottom: .25em;
  height: 21em;
  overflow: hidden; }
  .object-cart .item-main-image .image img {
    display: block; }

.object-cart .item-images .image {
  display: inline-block;
  width: 49.5%;
  margin: .25%;
  height: 210px;
  overflow: hidden; }
  .object-cart .item-images .image:nth-child(2n+2) {
    margin-right: 0; }
  .object-cart .item-images .image:nth-child(2n+1) {
    margin-left: 0; }
  .object-cart .item-images .image img {
    display: block;
    margin: 0; }

.body-wrap.headline-at-bottom .inner-content .inner {
  height: 100%; }

.page-num {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #9d9d9c;
  text-align: right;
  font-size: 20px;
  font-weight: 200; }
