@import 'reset';
// @import '_proxima-nova_font';

$wrap_width:900px;
$color_blue: #14347f;
$c_red:#fe0000;
@mixin clearfix {
	&:after{
	  content: "";
	  display: table;
	  clear: both;
	}  
}
@page{ 
    size: auto;   /* auto is the initial value */ 
    /* this affects the margin in the printer settings */ 
    margin:5mm;  
}

*{
	box-sizing:border-box;
}

// "Proxima Nova",
body{
	background:white;
	font-family:  "proxima-nova", sans-serif;
	font-weight: 400;
	color:#333333;
	font-size: 100%;
  line-height: 1.25;
  margin: 0;
}

/* common styles */
.objpage-wrap{
	max-width: $wrap_width;
	margin: 0 auto;
	@include clearfix;
}
.objpage-line{
	@include clearfix;
}



.objpage-object-cart{
	.item-title,
	.item-price{
		display: inline-block;
		vertical-align: middle;
	}
	.item-title{
		font-size: 16pt;
		font-weight: 600;
		line-height: 1.4;
		color:$c_red;
		width: 68%;
		.item-location{
			font-size: 12pt;
			color:$color_blue;
			margin-top: 1em;
			display: inline-block;
			font-weight: 700;
			img{
			    width: .5em;
    margin-top: -3px;
    margin-right: 0.15em;
			}
		}
	}
	&_fl{
		margin-bottom: .75em;
	}
	.item-price{
			width: 31%;
			margin: 0 -2px;
			vertical-align: top;
			display: inline-block;
			text-align: right;
			.span{
				margin-left: 17%;
				display: block;
				background:#f5f5f5;
				padding: .75em .6em;
				border-radius: 12px 0 0 12px;
				font-size: 17pt;
				font-weight: 600;
				color:#374055;
			}
		}
}