@import 'reset';
// @import '_proxima-nova_font';

$wrap_width:900px;
$color_blue: #14347f;
$c_red:#fe0000;
@mixin clearfix {
	&:after{
	  content: "";
	  display: table;
	  clear: both;
	}  
}
*{
	box-sizing:border-box;
}


body{
	background:white;
	font-family:  "proxima-nova", sans-serif;
	font-weight: 400;
	color:#333333;
	font-size: 100%;
  line-height: 1.25;
  margin: 0;
}


.h-table{
	display: table;
	width: 100%;
	&-row{
		display: table-row;
		width: 100%;
	}
	&-cell{
		display: table-cell;
		vertical-align: top;
	}
}

.h-wrap{
	max-width: $wrap_width;
	margin: 0 auto;
	@include clearfix;
}
.h-line{
	@include clearfix;
}

.headline{
	// padding-top: 1em;
	margin-bottom: 2.5em;
	.h-line{
		display: table;
		width: 100%;
		>*{
			display: table-cell;
			vertical-align: middle;
		}
	}
	&__contacts{
		color:$color_blue;
		// font-weight: 200;
		font-size:10.5pt;
		width: 80%;
		padding-left: 2%;
		.is-transparent{
			opacity: 0;
		}
		.img-icon{
			width: .95em;
			margin-right: .5em;
			vertical-align: middle;
			&.is-thin{
				width: 0.58em;
				margin-top: -3px;
			}
			&.is-locat{
				width: 0.65em;
			}
		}
		.h-table-cell{
			padding: .25em 1em;
		}
	}
	&__logo{
		width: 20%;
		img{
			max-width: 90%;
		}
	}
}
/* end headline */


