@import 'reset';
// @import '_proxima-nova_font';

$wrap_width:900px;
$color_blue: #14347f;
$c_red:#fe0000;
@mixin clearfix {
	&:after{
	  content: "";
	  display: table;
	  clear: both;
	}  
}
@page{ 
    size: auto;   /* auto is the initial value */ 
    /* this affects the margin in the printer settings */ 
    margin:5mm;  
}

*{
	box-sizing:border-box;
}

// "Proxima Nova",
body{
	background:white;
	font-family:  "proxima-nova", sans-serif;
	font-weight: 400;
	color:#333333;
	font-size: 100%;
  line-height: 1.25;
  margin: 0;
}

.body-wrap.headline-at-bottom, 
.body-wrap.headline-at-bottom .wrap,
.body-wrap.headline-at-bottom .inner-content{
	height: 100%;
}

.body-wrap.headline-at-bottom .inner-content .inner{
	overflow: hidden;
	max-height: 100%;
}

.body-wrap.headline-at-bottom .headline{
	margin: 0;
	// height: 3.5em;
	// overflow: hidden;
	.line{
		>*{
			vertical-align: top;
		}
		.headline__logo{
			// vertical-align:baseline !important;
		}
	}
	.headline__contacts{
		.table{
			margin-top: .5em;
		}
	}
}

/* common styles */
.wrap{
	max-width: $wrap_width;
	margin: 0 auto;
	@include clearfix;
}
.line{
	@include clearfix;
}
.table{
	display: table;
	width: 100%;
	&-row{
		display: table-row;
		width: 100%;
	}
	&-cell{
		display: table-cell;
		vertical-align: top;
	}
}

.img-icon{
	vertical-align: middle;
	&.is-transparent{
		opacity: 0;
	}
}
.icon{
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	// outline: 1px solid red;
	// margin-right: 5px;
	line-height: 1;
	&.icon-blank{
		background:transparent;
		width: 21px;
	}
	&.icon-www{
		// background:url(../img/img-sprite.png) center -2px no-repeat;
		// background-size: cover
	}
}
/* end common styles */






/* text section */
.text-section{
	font-size: 10.5pt;
	margin-bottom:3em;
	line-height: 1.45;
	font-weight: 200;
	p{
		margin-bottom: 1em;
	}
}
/* end text section */


/* objects */
.object-list{
	&__item{
		margin-bottom: 2em;
		>*{
			display: inline-block;
			margin: 0 -2px;
			vertical-align: top;
		}
		.item-image{
			width: 25%;
	    height: 7.3em;
	    overflow: hidden;
			img{
				max-width: 90%;
			}
		}
		.item-text{
			width: 75%;
		}
		.item-title{
			color:$c_red;
			font-size: 10pt;
			line-height: 1.4;
			font-weight: 400;
			display: inline-block;
			width: 65%;
			// margin: 0 -2px;
			vertical-align: top;
			height: 4.5em;
			margin-bottom: .2em;
			overflow: hidden;
			>div{
				max-height: 2.5em;
		    overflow: hidden;
			}
		}
		.item-properties{
			max-width: 70%;
		}
		.item-price{
			width: 32%;
			margin: 0 -2px;
			vertical-align: top;
			display: inline-block;
			text-align: right;
			.span{
				margin-left: 15%;
				display: block;
				background:#f5f5f5;
				padding: .65em .7em;
				border-radius: 12px 0 0 12px;
				font-size: 13.5pt;
				font-weight: 600;
				color:#374055;
			}
		}
		.item-location{
			display: block;
			font-size: 9pt;
			color:$color_blue;
			margin-top: .75em;
			font-weight: 700;
			img{
				vertical-align: baseline;
				margin-right: .15em;
				width: .6em;
			}
		}
	}
}
.table.item-properties{
	font-size: 8.5pt;
	text-align: center;
	margin-top: .5em;
	width: auto;
	display: inline-block;
	>.table-row{

		>.table-cell{
			border-right: 1px solid #ececec;
			padding: 0 .5em;
			&:last-child{
				border-right: none;
			}
			&:first-child{
				padding-left: 0;
			}
			.table-row{
				display: inline-block;
				&:nth-child(1){
					color:#888888;
					font-weight: 500;
					.table-cell{
						padding-bottom: 3px;
					}
				}
				&:nth-child(2){
					font-weight: bold;
					.table-cell{
						padding-top: 3px;
					}
				}
				.table-cell{
					display: inline-block;
				}
			}
		}
	}
}
/* end objects */




.object-cart{
	.item-properties{
		font-size: 10pt;
		max-width: 100%;
		display: table;
		margin-bottom: 1.5em;

		>.table-row{

			>.table-cell{
				padding: 0 .5em;
				.table-row{
					.table-cell{
						display: inline-block;
						padding: .8em 0;
					}
				}
			}
		}

	}
	&_list{
		font-size: 10pt;
		margin-bottom: 1.5em;
		font-weight: 500;
		li{
			display: inline-block;
			padding: .25em 0 .25em 1.1em;
			position: relative;
			&:before{
				content: '';
				display: block;
				height: 6px;
				width: 6px;
				color:#888;
				border:1px solid;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
		&.is-3-col{
			li{
				width: 33%;
			}
		}
		&.is-2-col{
			li{
				width: 50%;
				margin-right: -2px;

			}
		}
	}
	.item-main-image{
		// margin: .25em;
		margin-bottom: .25em;
		height: 21em;
		overflow: hidden;
		.image{
			img{
				display: block;
			}
		}
	}
	.item-images{
		.image{
			display: inline-block;
			width: 49.5%;
      margin: .25%;
			height: 210px;
			overflow: hidden;
			&:nth-child(2n+2){
				margin-right: 0;
			}
			&:nth-child(2n+1){
				margin-left: 0;
			}
			img{
				display: block;
				margin: 0;
			}
		}
	}
}

.body-wrap.headline-at-bottom .inner-content .inner{
	height: 100%;
}

.page-num{
	position: absolute;
	bottom: 0;
	right: 0;
	color:#9d9d9c;
	text-align: right;
	font-size: 20px;
	font-weight: 200;
}